In [11]:
import os

import numpy as np
import pandas as pd
from helpers import tokenize_tweet
from tqdm import tqdm
result_dir = "results"
tweets = pd.read_csv(os.path.join(result_dir, "10k_tweets_nl.csv"), index_col=False)
tweets.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Url
0,0,2023-06-26 13:11:32+00:00,1673318075465121792,Dus wij sturen wapens en geld naar de Oekraïne...,PMG_RIP,https://twitter.com/PMG_RIP/status/16733180754...
1,1,2023-06-26 13:11:31+00:00,1673318072550039553,Lumineon V $9 \nPWE $1 \nBMWT $3 https://t.co/...,TattooedPokemon,https://twitter.com/TattooedPokemon/status/167...
2,2,2023-06-26 13:11:31+00:00,1673318072457871360,Loodswezen Antwerpen wordt culinair centrum 23...,de_beyn,https://twitter.com/de_beyn/status/16733180724...
3,3,2023-06-26 13:11:31+00:00,1673318072365744129,"nvm, sis is here &gt;&lt; https://t.co/vgojxqaiAK",alx_yeonie,https://twitter.com/alx_yeonie/status/16733180...
4,4,2023-06-26 13:11:31+00:00,1673318071446953991,Mijn therapeut vond mijn jurk mooi vandaag ☺️,roosferrero,https://twitter.com/roosferrero/status/1673318...

# Naive word count

In [31]:
def cleaning_up(word) -> str:
    word = word.lower()

    # Skip accounts
    if word.startswith("@"):
        return ""
    # Skip urls
    if word.startswith(r"https://"):
        return ""
    
    if word.startswith("#"):
        return word[1:]
    return word

In [32]:
all_words = {}

for tweet in tweets.Text:
    words = tokenize_tweet(tweet)
    for word in words:
        word = cleaning_up(word)
        # Skip emtpy strings
        if len(word) == 0:
            continue
        all_words[word] = all_words.get(word, 0) + 1

In [33]:
print(f"In {len(tweets)} tweets we found {len(all_words)} unique words")

In 10000 tweets we found 28660 unique words

In [34]:
all_words_df = pd.DataFrame(all_words.items(), columns=["word", "occurrence"])
number_of_words = np.sum(all_words_df.occurrence)
all_words_df.reset_index(drop=True)
all_words_df = all_words_df.sort_values("occurrence", ascending=False)
all_words_df["percentage"] = np.round(all_words_df.occurrence / number_of_words, 6)
all_words_df["cumulative"] = all_words_df.percentage.cumsum()
all_words_df.to_csv(os.path.join(result_dir, "all_words.csv"), index=False)
all_words_df.head(n=25)

     word  occurrence  percentage  cumulative
7      de        5053    0.033690    0.033690
24    van        2886    0.019242    0.052932
110   het        2675    0.017835    0.070767
4      en        2655    0.017702    0.088469
18     in        2654    0.017695    0.106164
112   een        2642    0.017615    0.123779
57     is        2000    0.013335    0.137114
14     op        1635    0.010901    0.148015
71   voor        1443    0.009621    0.157636
85     ik        1408    0.009388    0.167024
155   met        1320    0.008801    0.175825
23    dat        1293    0.008621    0.184446
246    je        1258    0.008388    0.192834
25     te        1157    0.007714    0.200548
116  niet        1143    0.007621    0.208169
103   die        1032    0.006881    0.215050
186  zijn         870    0.005801    0.220851
147  maar         721    0.004807    0.225658
159    om         694    0.004627    0.230285
32    aan         689    0.004594    0.234879
164    er         681    0.004540    0.239419
115   als         638    0.004254    0.243673
271   dit         628    0.004187    0.247860
183   bij         618    0.004120    0.251980
389   wat         606    0.004040    0.256020

# Spacy lemma word count
A lot of the words are filler, we want nouns, verbs, and adjectives. For this we use spacy

In [35]:
import spacy
model_name = "nl_core_news_lg"
try:
    nlp = spacy.load(model_name)
except OSError:
    print(f"downloading the model {model_name}")
    spacy.cli.download(model_name)

In [36]:
doc = nlp("Mijn appel is op de tafel")

for token in doc:
    print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop)

Mijn mijn PRON VNW|bez|det|stan|vol|1|ev|prenom|zonder|agr nmod:poss Xxxx True True
appel appel NOUN N|soort|ev|basis|zijd|stan nsubj xxxx True False
is zijn AUX WW|pv|tgw|ev cop xx True True
op op ADP VZ|init case xx True True
de de DET LID|bep|stan|rest det xx True True
tafel tafel NOUN N|soort|ev|basis|zijd|stan ROOT xxxx True False

In [38]:
all_lemmas = {}

for tweet in tqdm(tweets.Text):
    words = tokenize_tweet(tweet)
    doc = nlp(" ".join(words))

    for token in doc:
        # Don't break up hashtags
        if token.text.startswith("#"):
           continue

        lemma = token.lemma_.lower()
        all_lemmas[lemma] = all_lemmas.get(lemma, 0) + 1

100%|██████████| 10000/10000 [01:01<00:00, 162.89it/s]

In 10000 tweets we found 26269 unique lemma

In [40]:
print(f"In {len(tweets)} tweets we found {len(all_lemmas)} unique lemma")

In 10000 tweets we found 26269 unique lemma

In [39]:
all_lemmas_df = pd.DataFrame(all_lemmas.items(), columns=["word", "occurrence"])
number_of_lemmas = np.sum(all_lemmas_df.occurrence)
all_lemmas_df.reset_index(drop=True)
all_lemmas_df = all_lemmas_df.sort_values("occurrence", ascending=False)
all_lemmas_df["percentage"] = np.round(all_lemmas_df.occurrence / number_of_lemmas, 6)
all_lemmas_df["cumulative"] = all_lemmas_df.percentage.cumsum()
all_lemmas_df.to_csv(os.path.join(result_dir, "all_lemmas.csv"), index=False)
all_lemmas_df.head(n=25)

       word  occurrence  percentage  cumulative
7        de        5090    0.033911    0.033911
57     zijn        3544    0.023611    0.057522
24      van        2886    0.019227    0.076749
4        en        2675    0.017822    0.094571
107     het        2675    0.017822    0.112393
18       in        2657    0.017702    0.130095
109     een        2593    0.017275    0.147370
14       op        1635    0.010893    0.158263
70     voor        1457    0.009707    0.167970
83       ik        1408    0.009381    0.177351
151     met        1320    0.008794    0.186145
23      dat        1293    0.008614    0.194759
238      je        1258    0.008381    0.203140
25       te        1236    0.008235    0.211375
112    niet        1143    0.007615    0.218990
101     die        1040    0.006929    0.225919
97   hebben        1039    0.006922    0.232841
161    veel         743    0.004950    0.237791
44   worden         723    0.004817    0.242608
143    maar         721    0.004804    0.247412
155      om         694    0.004624    0.252036
32      aan         689    0.004590    0.256626
160      er         683    0.004550    0.261176
111     als         638    0.004251    0.265427
15   kunnen         631    0.004204    0.269631