In [1]:
import os

import numpy as np
import pandas as pd
from helpers import tokenize_tweet

result_dir = "results"
tweets = pd.read_csv(os.path.join(result_dir, "10k_tweets_nl.csv"), index_col=False)
tweets.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Url
0,0,2023-06-26 13:11:32+00:00,1673318075465121792,Dus wij sturen wapens en geld naar de Oekraïne...,PMG_RIP,https://twitter.com/PMG_RIP/status/16733180754...
1,1,2023-06-26 13:11:31+00:00,1673318072550039553,Lumineon V $9 \nPWE $1 \nBMWT $3 https://t.co/...,TattooedPokemon,https://twitter.com/TattooedPokemon/status/167...
2,2,2023-06-26 13:11:31+00:00,1673318072457871360,Loodswezen Antwerpen wordt culinair centrum 23...,de_beyn,https://twitter.com/de_beyn/status/16733180724...
3,3,2023-06-26 13:11:31+00:00,1673318072365744129,"nvm, sis is here &gt;&lt; https://t.co/vgojxqaiAK",alx_yeonie,https://twitter.com/alx_yeonie/status/16733180...
4,4,2023-06-26 13:11:31+00:00,1673318071446953991,Mijn therapeut vond mijn jurk mooi vandaag ☺️,roosferrero,https://twitter.com/roosferrero/status/1673318...

In [2]:
def cleaning_up(word) -> str:
    word = word.lower()

    # Skip accounts
    if word.startswith("@"):
        return ""
    # Skip urls
    if word.startswith(r"https://"):
        return ""
    return word

In [3]:
all_words = {}

for tweet in tweets.Text:
    words = tokenize_tweet(tweet)
    for word in words:
        word = cleaning_up(word)
        # Skip emtpy strings
        if len(word) == 0:
            continue
        all_words[word] = all_words.get(word, 0) + 1

In [4]:
print(f"In {len(tweets)} tweets we found {len(all_words)} unique words")

In 10000 tweets we found 29757 unique words

In [9]:
all_words_df = pd.DataFrame(all_words.items(), columns=["word", "occurrence"])
number_of_words = np.sum(all_words_df.occurrence)
all_words_df.reset_index(drop=True)
all_words_df = all_words_df.sort_values("occurrence", ascending=False)
all_words_df["percentage"] = np.round(all_words_df.occurrence / number_of_words, 6)
all_words_df["cumulative"] = all_words_df.percentage.cumsum()
all_words_df.to_csv(os.path.join(result_dir, "all_words.csv"), index=False)
all_words_df.head(n=25)

     word  occurrence  percentage  cumulative
7      de        5053    0.033690    0.033690
24    van        2886    0.019242    0.052932
110   het        2675    0.017835    0.070767
4      en        2655    0.017702    0.088469
18     in        2654    0.017695    0.106164
112   een        2642    0.017615    0.123779
57     is        2000    0.013335    0.137114
14     op        1635    0.010901    0.148015
71   voor        1443    0.009621    0.157636
85     ik        1407    0.009381    0.167017
155   met        1320    0.008801    0.175818
23    dat        1293    0.008621    0.184439
246    je        1257    0.008381    0.192820
25     te        1157    0.007714    0.200534
116  niet        1143    0.007621    0.208155
103   die        1032    0.006881    0.215036
186  zijn         870    0.005801    0.220837
147  maar         721    0.004807    0.225644
159    om         694    0.004627    0.230271
32    aan         689    0.004594    0.234865
164    er         681    0.004540    0.239405
115   als         638    0.004254    0.243659
271   dit         628    0.004187    0.247846
183   bij         618    0.004120    0.251966
389   wat         606    0.004040    0.256006